/* Style navbar */

.navbar {
    display: none;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding: 40px;
}

.navbar_pp-twitter-inner {
  width: 90px;
  border-radius: 50%;
  margin-left: 40px;
  position: relative;
  margin: 5px 0px 0px 5px;

}

.navbar_pseudo-twitter {
  margin-left: 70px;
}

.navbar_pp-twitter_bg {
  position: absolute;
  left: -200px;
  top: 0;
  width: 300px;
  height: 100%;

   background: -webkit-linear-gradient(0deg, #D42417 0, #EB5D1D 100px, #48A2DA 200px, #3FBAC5 100%);
  background: linear-gradient(90deg, #D42417 0, #EB5D1D 100px, #48A2DA 200px, #3FBAC5 100%);
}

.navbar_pp-twitter {
  position: relative;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 70px;
  overflow: hidden;
  z-index: 10;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.colorful-switch {
    position: relative;
  width: 70px;
  height: 30px;
  border-radius: 100px;
}

.colorful-switch__checkbox {
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.colorful-switch__label {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  cursor: pointer;
}

.colorful-switch__bg {
  position: absolute;
  left: -140px;
  top: 0;
  width: 210px;
  height: 100%;
  background: -webkit-linear-gradient(0deg, #D42417 0, #EB5D1D 70px, #48A2DA 140px, #3FBAC5 100%);
  background: linear-gradient(90deg, #D42417 0, #EB5D1D 70px, #48A2DA 140px, #3FBAC5 100%);
}

.colorful-switch__dot {
  position: absolute;
  left: 51px;
  top: 50%;
  width: 2px;
  height: 2px;
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__dot {
  -webkit-transform: translate3d(-31.25px, 0, 0);
          transform: translate3d(-31.25px, 0, 0);
}
.colorful-switch__on {
  position: absolute;
  left: 44.25px;
  top: 8.75px;
  width: 7.5px;
  height: 14px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__on {
  -webkit-transform: translate3d(-31.25px, 0, 0);
          transform: translate3d(-31.25px, 0, 0);
}
.colorful-switch__on__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28);
  transition: -webkit-transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28);
  transition: transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28);
  transition: transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28), -webkit-transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: rotate(45deg) scale(0) translateZ(0);
          transform: rotate(45deg) scale(0) translateZ(0);
}

.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__on__inner {
  -webkit-transition: -webkit-transform 0.25s 0.25s cubic-bezier(0.67, -0.16, 0.47, 1.61);
  transition: -webkit-transform 0.25s 0.25s cubic-bezier(0.67, -0.16, 0.47, 1.61);
  transition: transform 0.25s 0.25s cubic-bezier(0.67, -0.16, 0.47, 1.61);
  transition: transform 0.25s 0.25s cubic-bezier(0.67, -0.16, 0.47, 1.61), -webkit-transform 0.25s 0.25s cubic-bezier(0.67, -0.16, 0.47, 1.61);
  -webkit-transform: rotate(45deg) scale(1) translateZ(0);
          transform: rotate(45deg) scale(1) translateZ(0);
}
.colorful-switch__on__inner:before, .colorful-switch__on__inner:after {
  content: "";
  position: absolute;
  border-radius: 1px;
  background: #fff;
}
.colorful-switch__on__inner:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
}
.colorful-switch__on__inner:after {
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
}
.colorful-switch__off {
  position: absolute;
  left: 51px;
  top: 50%;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off {
  -webkit-transform: translate3d(-31.25px, 0, 0);
          transform: translate3d(-31.25px, 0, 0);
}
.colorful-switch__off:before, .colorful-switch__off:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  border-radius: 1px;
  background: #fff;
  -webkit-transition: -webkit-transform 0.25s 0.25s;
  transition: -webkit-transform 0.25s 0.25s;
  transition: transform 0.25s 0.25s;
  transition: transform 0.25s 0.25s, -webkit-transform 0.25s 0.25s;
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:before, .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:after {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.colorful-switch__off:before {
  -webkit-transform: rotate(45deg) scaleX(1) translateZ(0);
          transform: rotate(45deg) scaleX(1) translateZ(0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:before {
  -webkit-transform: rotate(45deg) scaleX(0) translateZ(0);
          transform: rotate(45deg) scaleX(0) translateZ(0);
}
.colorful-switch__off:after {
  -webkit-transition-timing-function: cubic-bezier(0.67, -0.16, 0.47, 1.61);
          transition-timing-function: cubic-bezier(0.67, -0.16, 0.47, 1.61);
  -webkit-transform: rotate(-45deg) scaleX(1) translateZ(0);
          transform: rotate(-45deg) scaleX(1) translateZ(0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:after {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: rotate(-45deg) scaleX(0) translateZ(0);
          transform: rotate(-45deg) scaleX(0) translateZ(0);
}

.logo_bg {
  position: relative;
  left: -284px;
  top: 0;
  width: 426px;
  height: 35px;
  background: -webkit-linear-gradient(0deg, #D42417 0, #EB5D1D 142px, #48A2DA 284px, #3FBAC5 100%);
  background: linear-gradient(90deg, #D42417 0, #EB5D1D 142px, #48A2DA 284px, #3FBAC5 100%);
}

.logo {
  width: 426px;
  height: 35px;
  -webkit-clip-path: url('#logo_shape');
  clip-path: url('#logo_shape');
  overflow: hidden;
}
